<mat-card>
    <h1>Add Student</h1>
    <form #studentForm = "ngForm">
      <div>
        <mat-form-field appearance="standard">
            <mat-label>Youre email</mat-label>
            <input matInput [(ngModel)] = "useremail"
            name = "useremail"
            type = "useremail"
            required>             
          </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
          <mat-label>year</mat-label>
          <input matInput [(ngModel)] = "year"
          name = "year"
          type = "year"
          required>             
        </mat-form-field>
  </div>  
        <div>
            <mat-form-field appearance="standard">
                <mat-label>mileage</mat-label>
                <input matInput [(ngModel)] = "mileage"
                name = "mileage"
                type = "mileage"
                required>             
              </mat-form-field>
        </div>  
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Car model</mat-label>
                <mat-select place-holder = "model?" [(ngModel)] = "model" name = "model" required>
                  <mat-option *ngFor="let model of arrModel" [value]="model">
                    {{model}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
        </div>
        <div>
          <mat-form-field appearance="fill">
              <mat-label>Car transmission</mat-label>
              <mat-select place-holder = "transmission?" [(ngModel)] = "transmission" name = "transmission" required>
                <mat-option *ngFor="let transmission of arrTrans" [value]="transmission">
                  {{transmission}}
                </mat-option>
              </mat-select>
            </mat-form-field>       
      </div>
      <div>
        <mat-form-field appearance="fill">
            <mat-label>Car fuelType</mat-label>
            <mat-select place-holder = "fuelType?" [(ngModel)] = "fuelType" name = "fuelType" required>
              <mat-option *ngFor="let fuelType of arrFuel" [value]="fuelType">
                {{fuelType}}
              </mat-option>
            </mat-select>
          </mat-form-field>       
    </div>
        <div>
            <button mat-raised-button color="primary" (click) = "predict()" *ngIf = "predictButton">
                Predict
            </button>
        </div>
        <p>result:{{res}}</p>
        <p></p>
        <div  *ngIf = "!predictButton">
            <button mat-raised-button color="primary" (click) = "addStudent()">
                Save
            </button>
            <button mat-raised-button color="primary" (click) = "closeForm()">
                Cancel
            </button>
        </div>
    </form>
</mat-card>
