<mat-accordion>
    <mat-expansion-panel *ngFor = "let customer of customers">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Customer name:
            {{customer.customerName}}
        </mat-panel-title>
        <mat-panel-description>
            Years of education:
            {{customer.yearsStudy}}
        </mat-panel-description>
        <mat-panel-description>
            Income:
            {{customer.income}}
        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>
    </mat-expansion-panel-header>
    </mat-expansion-panel>
    </mat-accordion>

