<mat-accordion>
    <mat-expansion-panel *ngFor = "let student of students">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Math average grade:
            {{student.averageMath}}
        </mat-panel-title>
        <mat-panel-description>
            Psychometric score:
            {{student.psychoGrade}}
        </mat-panel-description>
        <mat-panel-description>
            Completed tuition:
            {{student.completeTuition}}
        </mat-panel-description>
        <mat-panel-description>
            User email:
            {{student.useremail}}
        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
    </mat-expansion-panel-header>
    </mat-expansion-panel>
    </mat-accordion>
