<mat-card>
    <h1>Add Customer</h1>
    <form #customerForm = "ngForm">
      <div>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)] = "customerName"
            name = "customerName"
            type = "customerName"
            required>             
          </mat-form-field>
    </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Years of education</mat-label>
                <input matInput [(ngModel)] = "yearsStudy"
                name = "yearsStudy"
                type = "yearsStudy"
                required>             
              </mat-form-field>
        </div>  
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Income</mat-label>
                <input matInput [(ngModel)] = "income"
                name = "income"
                type = "income"
                required>             
              </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click) = "addCustomer()">
              Save
          </button>
          <button mat-raised-button (click) = "closeForm()">
              Cancel
          </button>
      </div>
    </form>
</mat-card>

